@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=East+Sea+Dokdo&family=Kanit&family=Roboto+Slab:wght@300&family=Sofia+Sans+Condensed:wght@200&family=Yeon+Sung&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sticker{
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 5;
}
.head2{
    display: flex;
    justify-content: space-between;
}
img{
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 0vw;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}
button{
    margin: 0vw 1vw;
    background-color: rgb(96, 22, 96);
    color: white;
    font-size: 1.5vw;
    border-radius: 9px;
    padding-block: 2px;
    padding-inline: 7px;
    cursor: pointer;

}
.title{
    margin: 0px 0px 0px 2vw;
    font-size: 34px;
    color: white;
    font-family: 'Kanit', sans-serif;
}
.headnav{
    background-color: rgb(96, 22, 96);
    border: solid 3px black;
    display: flex;
    justify-content: space-between;
    height: 7vh;
    align-items: center;
}
.img2{
    margin: 0px 0px 0px 54vw;
}
.about{
    color: white;
    padding: 0px 2.5vw 0px 0px;
    font-size: 1.5vw;
}
.notes{
    color: white;
    text-decoration: none;
    padding: 0px 2.5vw 0px 0px;
font-size: 1.5vw;

}
.videos{
    color: white;
    text-decoration: none;
    padding: 0px 2.5vw 0px 0px;
font-size: 1.5vw;

}
.contactus{
    color: black;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0px 0.5vw 0px 0px;
}
.aboutus{
    color: black;
    text-decoration: none;
    margin: 0px 1.5vw 0px 0px;
    font-size: 1.5vw;
    font-weight: bold;
}
h1{
    background-color: black;
    color: white;
    height: 13vh;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 20px;
}
.main{
    width: 45vw;
    margin: 12px;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.img3{
     position: absolute;
     bottom: 17vh;
     left: 46.5vw;
     z-index: 0;
}
h2{
    background-color: black;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 20px;
    font-size: 32px;
}
.history{
    margin: 12px;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.overview{
    margin: 12px;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.notable{
    font-size: 30px;
    margin: 0px 0px 0px 0px;
    font-family: 'Sofia Sans Condensed', sans-serif;
}
h3{
    font-size: 27px;
    padding: 10px 0px 13px 30px;
    text-decoration: underline;
    font-family: 'Roboto Slab', serif;;
}
ul{
    list-style: square;
    margin: 0px 0px 20px 72px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0px 10px 46px;
    font-weight: bold;
    font-size: 26px;
}
.coursesoffered{
    margin: 12px;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: bold;
}
footer{
    background-color: grey;
    height: 50px;
    display: flex;
    align-items: center;
}
.footer2{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    font-size: 21px;
}
.about:hover{
    text-decoration: underline;
}
.notes:hover{
    text-decoration: underline;
}
.videos:hover{
    text-decoration: underline;
}
.aboutus:hover{
    text-decoration: underline;
}
.contactus:hover{
    text-decoration: underline;
}
button:hover{
    background-color: rgb(175, 95, 251);
    color: black;
}
.img2:hover{
    background-color: rgb(194, 132, 253);
}

