@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=East+Sea+Dokdo&family=Kanit&family=Montserrat&family=Roboto+Slab:wght@300&family=Sofia+Sans+Condensed:wght@200&family=Yeon+Sung&display=swap');

*{
    margin: 0;
    padding: 0;
}
.sticker{
    position: sticky;
    top: 0px;
    background-color: white;
}
.head2{
    display: flex;
    justify-content: space-between;
}
img{
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 0vw;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}
button{
    margin: 0vw 1vw;
    background-color: rgb(96, 22, 96);
    color: white;
    font-size: 1.5vw;
    border-radius: 9px;
    padding-block: 2px;
    padding-inline: 7px;
    cursor: pointer;

}
.title{
    margin: 0px 0px 0px 2vw;
    font-size: 34px;
    color: white;
    font-family: 'Kanit', sans-serif;
}
.headnav{
    background-color: rgb(96, 22, 96);
    border: solid 3px black;
    display: flex;
    justify-content: space-between;
    height: 7vh;
    align-items: center;
}
.img2{
    margin: 0px 0px 0px 54vw;
}
.about{
    color: white;
    text-decoration: none;
    padding: 0px 2.5vw 0px 0px;
font-size: 1.5vw;
}
.notes{
    color: white;
    text-decoration: none;
    padding: 0px 2.5vw 0px 0px;
font-size: 1.5vw;

}
.videos{
    color: white;
    padding: 0px 2.5vw 0px 0px;
font-size: 1.5vw;

}
.contactus{
    color: black;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0px 0.5vw 0px 0px;
}
.aboutus{
    color: black;
    text-decoration: none;
    margin: 0px 1.5vw 0px 0px;
    font-size: 1.5vw;
    font-weight: bold;

}
table{
    font-family: 'Times New Roman', Times, serif;
    margin: 6vh 0px 0px 13vw;
    font-size: 1.3em;
    border-block: solid;
    border-inline: solid;
    border-collapse: collapse;
}
thead{
    background-color: rgb(47, 157, 157);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
tbody tr td{
    font-family: 'Times New Roman', Times, serif;
    border-block-start: solid;
    border-collapse: collapse;
    border-inline: solid;
    justify-content: center;
    padding: 3px;
}
h1{
    margin: 11vh 0px 0px 11vw;
    font-size: 49px;
    text-decoration: underline;
}
thead tr td{
    border-inline: solid;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    font-size: 21px;
}
.about:hover{
    text-decoration: underline;
}
.notes:hover{
    text-decoration: underline;
}
.videos:hover{
    text-decoration: underline;
}
.aboutus:hover{
    text-decoration: underline;
}
.contactus:hover{
    text-decoration: underline;
}
button:hover{
    background-color: rgb(175, 95, 251);
    color: black;
}
.img2:hover{
    background-color: rgb(194, 132, 253);
}